.titleFont { 
  font-family: "WindSong", cursive; }

  .jumbotron {
    background-color: #967422;
  }

  footer {
    background-color: #967422;
    color: white;
  }

  h1 {
    color: white;
  }

  li, a {
    color: white;
  }

#aboutBree {
  color: #967422;
  margin-top: 50px;
}

#plan {
  color: #967422;
  margin-bottom: 50px;

}

#destinations {
  background-color: #967422;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

#explorations {
  background-color: #967422;
  color: white;
  margin-top: 200px;
  margin-bottom: 150px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

#myExplorations {
  color: white;
  margin-top:50px;
  margin-bottom: 50px;
}
 
#destinationsPhotos {
  background-color: #967422;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

#comment {
  color: #967422;
}

#about {
  color: #967422;

}

#getStartedForm {
  margin-top: 100px;
  color: #967422;
}

.destinationPhotos {
  height: 407.5px;
  width: 540px;
}

#planTrip {
  color: #967422;
}

#planHeader {
  margin-bottom: 70px;
  margin-top: 30px;
}

#favPlaces {
  margin-top: 150px;
}

#carouselAbout {
  margin-bottom: 100px;
}

.blogTitle {
  font-size: 60px;
}

#breesOverseasNavbar {
  font-size: 30px;
}

.submit-button {
  background-color: #967422;
  color: white;
}

.travPhoto {
  margin-bottom: 100px;
}